body {
    background: #494949;
}

.sida {
    width: 100%;
    margin: 0;
    border: none;
    padding: 0;
}

.mainText {
    width: 100%;
}

.sortering {
    position: sticky;
    top: 0;
    z-index: 50;
    background: #494949;
}

.sorteringsalternativ .utanProjekt {
    display: none;
}

.projekt {
    overflow: hidden;
}

.projekt .container {
    flex-wrap: wrap;
}

.projektBakgrund {
    transform: translate(0);
    top: 0;
    left: 0;
    padding: 0;
    min-height: 100vh;
    overflow: scroll;
    z-index: 60;
    border-radius: 0;
}

.projektBakgrund h1 {
    margin-top: 32px;
}

.projekt .projektText {
    max-width: 100%;
}

.promoBild {
    width: 50%;
    height: auto;
}

.container div {
    width: 100%;
}

.screenshotBakgrund {
    width: 95vw;
}